@import "./src/styles/base";
@import "./src/styles/modules/tool";


:local(.Keyboard) {
	@extend .tool;

	width: 40rem;
	height: 20rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;

	.keyboard-panel {
		flex: 1;
		margin-bottom: 2rem;
	}
}
