@import "./src/styles/base";


:local(.Key) {
  flex: 1;

  &.black {
    flex:initial;
    position:relative;

    div {
      position: absolute;
      background-color: #8A8A8A;
      width: 2.7rem;
      left: -1.3rem;
      height: 70%;
      border: 1px solid $color-background-light;
    }

    &.active {
      div {
        background-color: rgb(173,164,164);
      }
    }

    .key-overlay {
      color: $color-white;
    }
  }

  &.white {
    div {
      height:100%;
      background-color: $color-white;
      border: 1px solid $color-background-light;
    }

    &.active {
      div {
        background-color: rgb(251,242,242);
      }
    }
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .key-overlay {
    margin-bottom: 1rem;
  }
}
