@import "./src/styles/colors";

$body-font-size:15px;

$container-width: 1024px;

// Reset!
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input[type=text],
input[type=email], input[type=password], input[type=tel], button {
  margin:0;
  padding:0;
  border:0;
  font-size:$body-font-size;
  font:inherit;
  vertical-align:baseline;
  line-height:normal;
  box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
  margin:0;
  min-height:100vh;
  position:relative;
  color:$color-text-dark;
  background-color:$background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
