@import "./src/styles/base";

:local(.SlideSelector) {
	display: flex;
	position: relative;

	.slider {
		position: relative;
		width: .76rem;
		background: white;
		border-radius: 10px;
		margin-right: .5rem;
		padding: 6px 3px;
	}

	.sliderBall {
		width: .8rem;
	  height: .8rem;
		border-radius: 50%;
		background-color: $color-dark;
	}

	ul {
		padding: 5px 0;
	}

	li {
		margin-bottom: .5rem;
		opacity: .35;
		@include transition(opacity .5s);

		&:last-of-type {
			margin-bottom:0;
		}

		&.selected {
			opacity: 1;
		}
	}
}
