@import "./src/styles/base";

:local(.SlideSelector) {
	display: flex;

	.slider {
		position: relative;
		width: .76rem;
		background: white;
		border-radius: 10px;
		margin-right: .5rem;
		padding: 3px;
	}

	.sliderBall {
		width: .8rem;
	  height: .8rem;
		border-radius: 50%;
		background-color: $color-dark;
	}

	li {
		margin-bottom: .5rem;

		&:last-of-type {
			margin-bottom:0;
		}
	}
}
